*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    font-family: 'Futura', cursive;
    font-size: 35px;
    text-align: center;
    margin-top: 55px;
    /* color:rgb(194, 158, 128); */
    color: rgb(255, 138, 128)
}

h2 {
  font-size: 35px;
  text-align: center;
  color: rgb(255, 138, 128);
}

.header{
  font-family: 'Futura', cursive;
  color: rgb(97, 215, 255);
  font-weight:700;
}
.detail-color{
  font-family: 'Futura', cursive;
  color: rgb(97, 215, 255);
  font-weight:500
}

.clip-color{
  color: black;
  font-weight: 400;
  font-size: 17px;
}

.clip-color a:hover i b{
  color: rgb(200, 154, 219);
}