*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.footer-content{
    font-family: 'Futura', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-family: 'Futura', cursive;
    color:rgb(255, 138, 128);
    font-size: 30px;
    font-weight: 400;
    text-transform:capitalize;
    line-height: 3rem;
}

.footer-content p{
    color:rgb(255, 138, 128);
    font-weight: 400;
    max-width: 500px;
    margin:2px auto;
    line-height: 25px;
    font-size: 15px;
}

.socials{
    font-family: 'Futura', sans-serif;
    color:rgb(97, 215, 255);
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

.socials li{
    margin: 0 10 px;
    font-size: 15px;
}

.socials a{
    text-decoration: none;
    color:rgb(97, 215, 255);
    font-weight: 700;
}

.socials a i{
    font-size: 15px;
    transition: color .4s ease;
    line-height: 25px;
}

.socials a:hover i{
    color: rgb(111, 181, 96);
}

.footer-bottom{
    background: rgb(255, 138, 128);
    width: 100vw;
    padding: 7px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .9;
    font-weight:200 ;
}

