*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color:rgb(205, 92, 92);
    /* position: fixed; */
    width: 100%;
    top:0;
    
}

.bg1{
    /* background-color:rgb(211, 192, 163); */
    background-color: rgb(250, 240, 230);
    
}

.font1{
    font-family: 'Futura', cursive;
}

.font2{
    font-family: 'Futura', cursive;
}

.font-color{
    /* color:rgb(116, 79, 0); */
    color: rgb(255, 111, 97);
}


.title{
    color: rgb(255, 69, 0);
    opacity: .7;
    font-weight: 300;
    font-size: 40px;
    /* padding-left: 100px; */
    padding-top: 10px;
    text-align: left;
}

.title span{
    color: darkblue;
    font-weight: 500;
    font-size: 60px;
}

.name{
    /* margin-left: 180px; */
    font-size: 40px;
    /* padding-top: 30px; */
    color:rgb(97, 215, 255);
    font-weight: 400;
    text-align: center;
}

.detail-me{
    font-family: 'Futura', sans-serif;
    /* margin-left: 150px ; */
    margin-top: 40px;
    font-size:24px;
    width: 100%;
    font-weight:500;
    color:rgb(97, 215, 255);
    text-align: left;
}
.containimage{
    padding-top:50px;
    width: 100%;
    height: auto;
    opacity: .9;
    display: flex;
    justify-content: center;
}

.skill{
    /* margin-top:130px; */
    /* margin-left:250px; */
    text-align: center;
}

.titleSkill{
    font-family: 'Futura', sans-serif;
    color:rgb(97, 215, 255);
    font-size: 35px;
    text-transform:capitalize;
    line-height: 3rem;
}

.headskill{
    margin-top: 30px;
    font-family: 'Futura', sans-serif;
    font-size: 29px;
    color: rgb(72, 209, 204)
}

.scriptskill{
    font-family: 'Futura', sans-serif;
    font-size: 20px;
    text-align: center;
    color:rgb(97, 215, 255)
}
.part2 .detail-skill{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 200px;
}

.part2 .detail-skill .box{
    width: 300px;
    margin: 30px;
}

.part2 .detail-skill .box .skillpicbox{
   position:relative;
   width: 100%;
   height: 300px;
}    

.part2 .detail-skill .box .skillpicbox img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part2 .detail-skill .box {
    padding: 15px 0 5px;
}

.part2 .detail-skill .box h3{
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
}

.part2 .detail-skill .box p{
    font-weight: 100;
    padding-top:10px;
    padding-left: 20px;
}